@use 'variables';

@mixin card($url){
    width: 288px;
    height: 160px;
    color: variables.$White;
    padding: 20px; 
    background: { 
        image: url($url);
        repeat: no-repeat;
        size: contain;
    };
    @media (min-width: 1440px){
        width: 450px;
        height: 247px;
        padding: 30px;
    }
}